<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Kedves {{htmlescape var=$customer.name}}!</h1>
            <p>Kérés érkezett fiókjelszava módosításához.</p>
            <p>Ha Ön kérte a változtatást, akkor kattintson a következő linkre az új jelszó megadásához: </p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a>
                    </td>
                </tr>
            </table>
            <p>Ha nem Ön kérte a jelszó módosítását, akkor hagyja figyelmen kívül ezt az emailt, így a jelszava változatlan marad.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
