<?xml version="1.0"?>
<config>
    <modules>
        <Icoders_Banner>
            <version>0.1.0</version>
        </Icoders_Banner>
    </modules>
    <global>
        <models>
            <icoders_banner>
                <class>Icoders_Banner_Model</class>
                <resourceModel>icoders_banner_resource</resourceModel>
            </icoders_banner>
            <icoders_banner_resource>
                <class>Icoders_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>icoders_banner_banner</table>
                    </banner>
                    <images>
                        <table>icoders_banner_images</table>
                    </images>
                    <links>
                        <table>icoders_banner_links</table>
                    </links>
                    <store>
                        <table>icoders_banner_store</table>
                    </store>
                </entities>
            </icoders_banner_resource>
        </models>
        <blocks>
            <icoders_banner>
                <class>Icoders_Banner_Block</class>
            </icoders_banner>
        </blocks>
        <helpers>
            <icoders_banner>
                <class>Icoders_Banner_Helper</class>
            </icoders_banner>
        </helpers>
        <resources>
            <icoders_banner_setup>
                <setup>
                    <module>Icoders_Banner</module>
                </setup>
            </icoders_banner_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <icoders_banner module="Icoders_Banner">
                    <file>icoders/banner.xml</file>
                </icoders_banner>
            </updates>
        </layout>
        <translate>
            <modules>
                <icoders_banner>
                    <files>
                        <default>Icoders_Banner.csv</default>
                    </files>
                </icoders_banner>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <icoders_banner>
                    <file>icoders/banner.xml</file>
                </icoders_banner>
            </updates>
        </layout>
        <translate>
            <modules>
                <icoders_banner>
                    <files>
                        <default>Icoders_Banner.csv</default>
                    </files>
                </icoders_banner>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icoders_Banner before="-">Icoders_Banner_Adminhtml</Icoders_Banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <icoders_banner>
            <config>
                <enabled>1</enabled>
            </config>
        </icoders_banner>
    </default>
</config>