.aion-checkbox,
.aion-radio {
  display: none;
}
.aion-checkbox + label,
.aion-radio + label {
  cursor: pointer;
  display: inline-block;
  padding-left: 25px;
  position: relative;
  margin: 0;
  min-height: 20px;
  vertical-align: top !important;
}
.aion-checkbox + label span,
.aion-radio + label span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #cacece;
  display: block;
  left: 0;
  padding: 7px;
  position: absolute;
  vertical-align: middle !important;
  top: 0;
}
.aion-checkbox.input-right-pos + label,
.aion-radio.input-right-pos + label {
  padding-right: 25px;
  padding-left: 0;
  text-align: right;
}
.aion-checkbox.input-right-pos + label span,
.aion-radio.input-right-pos + label span {
  right: 0;
  left: auto;
}
.aion-checkbox + label:active span,
.aion-checkbox:checked + label:active span,
.aion-radio + label:active span,
.aion-radio:checked:active + label span {
  background-color: #63b626;
}
.aion-checkbox:checked + label span,
.aion-radio:checked + label span {
  background-color: #ffffff;
  border: 1px solid #7d7d7d;
}
.aion-checkbox:checked + label span:after {
  bottom: 0;
  color: #0070ce;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  top: -3px;
  vertical-align: middle !important;
  content: '\25A0';
}
@media screen and (-moz-images-in-menus: 0) {
  .aion-checkbox:checked + label span:after {
    top: -3px;
  }
}
@media all and (-ms-high-contrast: none) {
  .aion-checkbox:checked + label span:after {
    top: -3px;
  }
  *::-ms-backdrop,
  .aion-checkbox:checked + label span:after {
    top: -3px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .aion-checkbox:checked + label span:after {
    top: -1px;
  }
}
@-moz-document url-prefix() {
  .aion-checkbox:checked + label span:after {
    line-height: 16px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .aion-checkbox:checked + label span:after {
    line-height: 16px;
  }
}
.aion-radio + label span {
  border-radius: 8px;
}
.aion-radio:checked + label span:after {
  background: #99a1a7;
  content: ' ';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
label {
  color: #595959;
  font-family: 'Open Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 8px 0 0 0;
  text-transform: uppercase;
}
.a-center {
  text-align: center;
}
.a-right,
.align-right {
  text-align: right;
}
.a-left {
  text-align: left;
}
.v-top {
  vertical-align: top !important;
}
.v-middle {
  vertical-align: middle !important;
}
.v-bottom {
  vertical-align: bottom !important;
}
.no-display {
  display: none !important;
}
.nobr,
.nowrap {
  white-space: nowrap;
}
.hidden {
  display: none;
}
@media (min-width: 992px) {
  .no-padding {
    padding: 0;
  }
  .no-padding-right {
    padding-right: 0;
  }
}
/*custom text-color (just for mixins)*/
/*custom width and color to a solid border*/
/*create default buttons*/
/* AionBanner css */
.banner-img {
  display: block;
  width: 100%;
  height: 100%;
}
.aion-aion-banner .carousel {
  max-width: 100%;
}
.aion-aion-banner .carousel-indicators li {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #ffffff;
  border: 0;
  margin: 0;
  height: 15px;
  width: 15px;
}
.aion-aion-banner .carousel-indicators li.active {
  background-color: #000000;
}
.aion-aion-banner .carousel-control-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.aion-aion-banner .carousel-control-container .carousel-control {
  background-color: transparent;
  opacity: 1;
  width: 60px;
  z-index: 11;
}
.aion-aion-banner .carousel-control-container .carousel-control.left {
  background-color: transparent;
  background-image: none;
}
.aion-aion-banner .carousel-control-container .carousel-control.right {
  background-color: transparent;
  background-image: none;
}
.aion-aion-banner .carousel-control-container .carousel-control .icon-nav {
  display: inline-block;
  left: 0;
  margin-top: -30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  z-index: 5;
}
.aion-aion-banner .caption-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0 20%;
  background-size: auto;
  width: 100%;
  height: 450px;
}
.aion-aion-banner .caption-background .carousel-caption {
  left: 0;
  bottom: 130px;
  padding-left: 70px;
  text-align: left;
}
.aion-aion-banner .caption-background .carousel-caption .caption-title {
  background: #ffffff;
  padding: 15px;
}
.aion-aion-banner .caption-background .carousel-caption .caption-title h2 {
  color: #0070ce;
  font-family: 'Open Sans';
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  text-shadow: none;
}
.aion-aion-banner .caption-background .carousel-caption .caption-text {
  background: #000000;
  display: inline-block;
  padding: 8px;
}
.aion-aion-banner .caption-background .carousel-caption .caption-text p {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}
.aion-small-banners {
  padding-top: 0;
}
.aion-small-banners .small-banner {
  background-size: cover;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}
.aion-small-banners .small-banner a {
  color: #0070ce;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  background-color: #ffffff;
  display: inline-block;
  float: right;
  margin-top: 40px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.aion-small-banners .small-banner p {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  background-color: #000000;
  display: inline-block;
  float: right;
  padding: 0 10px;
}
.aion-small-banners .small-banner.banner-yellow {
  background-color: #c4bd0a;
}
.aion-small-banners .small-banner.banner-green {
  background-color: #79a42f;
}
.aion-small-banners .small-banner.banner-purple {
  background-color: #b982c3;
}
.aion-small-banners .small-banner.banner-first {
  background-image: url('../../img/banner-1.jpg');
}
.aion-small-banners .small-banner.banner-second {
  background-image: url('../../img/banner-2.jpg');
}
.aion-small-banners .small-banner.banner-third {
  background-image: url('../../img/banner-3.jpg');
}
.aion-icon-banners {
  margin-top: 30px;
}
.aion-promotional-banners {
  padding-top: 20px;
}
.aion-promotional-banners .small-banner {
  background-size: cover;
  height: 165px;
  padding: 15px;
  width: 100%;
}
.aion-promotional-banners .small-banner a {
  color: #0070ce;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  background-color: #ffffff;
  display: inline-block;
  margin-top: 40px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.aion-promotional-banners .small-banner p {
  background-color: #000000;
  display: inline-block;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 0 10px;
}
.aion-promotional-banners .small-banner.banner-yellow {
  background-color: #c4bd0a;
}
.aion-promotional-banners .small-banner.banner-green {
  background-color: #79a42f;
}
.aion-promotional-banners .small-banner.banner-purple {
  background-color: #b982c3;
}
.aion-promotional-banners .small-banner.banner-first {
  background-image: url('../../img/banner-1.jpg');
}
.aion-promotional-banners .small-banner.banner-second {
  background-image: url('../../img/banner-2.jpg');
}
.aion-promotional-banners .small-banner.banner-third {
  background-image: url('../../img/banner-3.jpg');
}
.aion-icon-banners .icon-banner {
  margin-bottom: 15px;
}
.aion-icon-banners .icon-banner-icon {
  background-color: #0070ce;
  border-radius: 1em;
  color: #ffffff;
  float: left;
  font-size: 3.5em;
  height: 1.25em;
  text-align: center;
  width: 1.25em;
}
.aion-icon-banners .icon-banner-icon i {
  color: #ffffff;
  font-size: 1.25em;
}
.aion-icon-banners .icon-banner-text a {
  color: #0070ce;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.aion-icon-banners .icon-banner-text div {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  display: table-cell;
  padding: 0 10px;
}
.aion-home-grid .widget-title hr {
  border: 0;
  border-top: 2px solid #eee;
  margin-bottom: 0;
}
.aion-home-grid .widget-title h2 {
  color: #0070ce;
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}
.aion-home-grid .widget-products {
  margin-left: 0;
  margin-right: -15px;
}
.aion-home-grid .widget-products .products-grid {
  padding-top: 20px;
}
.aion-home-grid .widget-products .products-grid .product-info .product-name a {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.aion-home-grid .widget-products .products-grid .product-info .price {
  display: inline-block;
  margin-bottom: 10px;
  color: #0070ce;
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.aion-home-grid .widget-products .products-grid .product-info .actions button {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  background-color: #0070ce;
  border: 1px solid transparent;
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}
.aion-home-grid .widget-products .products-grid .product-info .actions button:hover {
  background-color: #ffffff;
  border: 1px solid #0070ce;
  color: #0070ce;
}
.aion-home-grid .widget-products .products-grid .product-info .add-to-links {
  list-style-type: none;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .aion-aion-banner .carousel-caption h2 {
    font-size: 45px;
    line-height: 55px;
    padding: 0 100px;
  }
  .aion-aion-banner .carousel-caption p {
    padding: 0 150px;
  }
}
@media (max-width: 992px) {
  .aion-aion-banner {
    padding-bottom: 15px;
  }
  .aion-aion-banner .carousel-control-container {
    position: static;
  }
  .aion-aion-banner .carousel-caption .container {
    padding: 0;
    width: auto;
  }
  .aion-aion-banner .carousel-caption h2 {
    font-size: 40px;
    line-height: 45px;
    padding: 0 80px;
  }
  .aion-aion-banner .carousel-caption p {
    padding: 0 100px;
  }
  .aion-small-banners div {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .aion-aion-banner .carousel-caption h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 0 60px;
  }
  .aion-aion-banner .carousel-caption p {
    padding: 0 60px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .aion-small-banners .small-banner {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .aion-aion-banner .carousel-caption {
    padding: 10px 0;
  }
  .aion-aion-banner .carousel-caption h2 {
    font-size: 15px;
    line-height: 15px;
  }
  .aion-aion-banner .carousel-caption p {
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
  }
}
