<?xml version="1.0"?>
<config>
    <modules>
        <Icoders_Slider>
            <version>0.1.1</version>
        </Icoders_Slider>
    </modules>
    <global>
        <models>
            <icoders_slider>
                <class>Icoders_Slider_Model</class>
                <resourceModel>icoders_slider_resource</resourceModel>
            </icoders_slider>
            <icoders_slider_resource>
                <class>Icoders_Slider_Model_Resource</class>
                <entities>
                    <banner>
                        <table>icoders_slider_entity</table>
                    </banner>
                    <slide>
                        <table>icoders_slider_slide</table>
                    </slide>
                </entities>
            </icoders_slider_resource>
        </models>
        <blocks>
            <icoders_slider>
                <class>Icoders_Slider_Block</class>
            </icoders_slider>
        </blocks>
        <helpers>
            <icoders_slider>
                <class>Icoders_Slider_Helper</class>
            </icoders_slider>
        </helpers>
        <resources>
            <icoders_slider_setup>
                <setup>
                    <module>Icoders_Slider</module>
                </setup>
            </icoders_slider_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <icoders_slider module="Icoders_Slider">
                    <file>icoders/slider.xml</file>
                </icoders_slider>
            </updates>
        </layout>
        <translate>
            <modules>
                <icoders_slider>
                    <files>
                        <default>Icoders_Slider.csv</default>
                    </files>
                </icoders_slider>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <icoders_slider>
                    <file>icoders/slider.xml</file>
                </icoders_slider>
            </updates>
        </layout>
        <translate>
            <modules>
                <icoders_slider>
                    <files>
                        <default>Icoders_Slider.csv</default>
                    </files>
                </icoders_slider>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icoders_Slider before="Mage_Adminhtml">Icoders_Slider_Adminhtml</Icoders_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <icoders_slider>
            <config>
                <enabled>1</enabled>
            </config>
        </icoders_slider>
    </default>
</config>