<?xml version="1.0"?>
<config>
    <modules>
        <Icoders_MobileDetect>
            <version>0.1.0</version>
        </Icoders_MobileDetect>
    </modules>
    <global>
        <helpers>
            <icoders_mobiledetect>
                <class>Icoders_MobileDetect_Helper</class>
            </icoders_mobiledetect>
        </helpers>
    </global>
</config>