.aion-checkbox,
.aion-radio {
  display: none;
}
.aion-checkbox + label,
.aion-radio + label {
  cursor: pointer;
  display: inline-block;
  padding-left: 25px;
  position: relative;
  margin: 0;
  min-height: 20px;
  vertical-align: top !important;
}
.aion-checkbox + label span,
.aion-radio + label span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #cacece;
  display: block;
  left: 0;
  padding: 7px;
  position: absolute;
  vertical-align: middle !important;
  top: 0;
}
.aion-checkbox.input-right-pos + label,
.aion-radio.input-right-pos + label {
  padding-right: 25px;
  padding-left: 0;
  text-align: right;
}
.aion-checkbox.input-right-pos + label span,
.aion-radio.input-right-pos + label span {
  right: 0;
  left: auto;
}
.aion-checkbox + label:active span,
.aion-checkbox:checked + label:active span,
.aion-radio + label:active span,
.aion-radio:checked:active + label span {
  background-color: #63b626;
}
.aion-checkbox:checked + label span,
.aion-radio:checked + label span {
  background-color: #fff;
  border: 1px solid #7d7d7d;
}
.aion-checkbox:checked + label span:after {
  bottom: 0;
  color: #256599;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  top: -3px;
  vertical-align: middle !important;
  content: '\25A0';
}
@media screen and (-moz-images-in-menus: 0) {
  .aion-checkbox:checked + label span:after {
    top: -3px;
  }
}
@media all and (-ms-high-contrast: none) {
  .aion-checkbox:checked + label span:after {
    top: -3px;
  }
  *::-ms-backdrop,
  .aion-checkbox:checked + label span:after {
    top: -3px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .aion-checkbox:checked + label span:after {
    top: -1px;
  }
}
@-moz-document url-prefix() {
  .aion-checkbox:checked + label span:after {
    line-height: 16px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .aion-checkbox:checked + label span:after {
    line-height: 16px;
  }
}
.aion-radio + label span {
  border-radius: 8px;
}
.aion-radio:checked + label span:after {
  background: #99a1a7;
  content: ' ';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
label {
  color: #595959;
  font-family: 'Open Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 8px 0 0 0;
  text-transform: uppercase;
}
.a-center {
  text-align: center;
}
.a-right,
.align-right {
  text-align: right;
}
.a-left {
  text-align: left;
}
.v-top {
  vertical-align: top !important;
}
.v-middle {
  vertical-align: middle !important;
}
.v-bottom {
  vertical-align: bottom !important;
}
.no-display {
  display: none !important;
}
.nobr,
.nowrap {
  white-space: nowrap;
}
.hidden {
  display: none;
}
/*custom text-color (just for mixins)*/
/*custom width and color to a solid border*/
/*create default buttons*/
/**
  @btn-bc: background-color;
  @btn-hover-bc: background-color(hover);
  @btn-border: border-color;
  @btn-tc button text color
*/
.aion-cms-cms .page-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.aion-cms-cms .page-title h1 {
  border-bottom: 1px solid #9f9f9f;
  color: #646464;
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 0;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.aion-cms-cms .form-control {
  border-top: solid 1px #9f9f9f;
  border-left: solid 1px #9f9f9f;
  border-right: solid 1px #9f9f9f;
  border-bottom: solid 1px #9f9f9f;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.aion-cms-cms .button {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  background-color: #256599;
  border: 1px solid transparent;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.aion-cms-cms .button:hover {
  background-color: #fff;
  border: 1px solid #256599;
  color: #256599;
}
.aion-cms-cms .aion-cms-menu {
  margin-top: -5px;
}
.aion-cms-cms .aion-cms-menu .menu {
  list-style-type: none;
  padding: 0;
}
.aion-cms-cms .aion-cms-menu .menu .menu-item a {
  color: #005983;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
  background-color: #eaeaea;
  border-bottom: 3px solid #fff;
  float: left;
  height: 47px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100%;
}
.aion-cms-cms .aion-cms-menu .menu .menu-item a:hover,
.aion-cms-cms .aion-cms-menu .menu .menu-item a:active {
  background: #005983;
  color: #fff;
  text-decoration: none;
}
.aion-cms-cms .std {
  color: #646464;
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /** Fonts, titles */
  /** Demo content - bootstrap/table.less */
}
.aion-cms-cms .std h2 {
  color: #646464;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
.aion-cms-cms .std h3 {
  color: #646464;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.aion-cms-cms .std h4 {
  color: #646464;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
.aion-cms-cms .std .table,
.aion-cms-cms .std table {
  margin-top: 30px;
  margin-bottom: 30px;
}
.aion-cms-cms .std .table > thead > tr > th,
.aion-cms-cms .std table > thead > tr > th,
.aion-cms-cms .std .table > tbody > tr > th,
.aion-cms-cms .std table > tbody > tr > th,
.aion-cms-cms .std .table > tfoot > tr > th,
.aion-cms-cms .std table > tfoot > tr > th,
.aion-cms-cms .std .table > thead > tr > td,
.aion-cms-cms .std table > thead > tr > td,
.aion-cms-cms .std .table > tbody > tr > td,
.aion-cms-cms .std table > tbody > tr > td,
.aion-cms-cms .std .table > tfoot > tr > td,
.aion-cms-cms .std table > tfoot > tr > td {
  border-top: 0;
}
.aion-cms-cms .std .table thead,
.aion-cms-cms .std table thead,
.aion-cms-cms .std .table tbody,
.aion-cms-cms .std table tbody {
  border-top: 1px solid #9f9f9f;
}
.aion-cms-cms .std .table thead > tr > th,
.aion-cms-cms .std table thead > tr > th,
.aion-cms-cms .std .table tbody > tr > th,
.aion-cms-cms .std table tbody > tr > th,
.aion-cms-cms .std .table thead > tr > td,
.aion-cms-cms .std table thead > tr > td,
.aion-cms-cms .std .table tbody > tr > td,
.aion-cms-cms .std table tbody > tr > td {
  color: #646464;
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-bottom: 1px solid #9f9f9f;
  text-transform: uppercase;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .page-title {
    margin-top: 0 !important;
  }
  .aion-cms-cms .aion-cms-menu .menu .menu-item a {
    color: #005983;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    padding: 0 10px;
  }
  .aion-cms-cms .aion-cms-menu .menu .current {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    padding: 0 10px;
  }
}
@media (min-width: 1200px) {
  .page-title {
    margin-top: 0 !important;
  }
  .aion-cms-cms .aion-cms-menu .menu .menu-item a {
    color: #005983;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    padding: 0 20px !important;
  }
  .aion-cms-cms .aion-cms-menu .menu .current {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    padding: 0 20px !important;
  }
}
