<?xml version="1.0"?>
<config>
    <modules>
        <Aion_Nila>
            <version>0.2.8</version>
        </Aion_Nila>
    </modules>
    <global>
        <models>
            <aion_nila>
                <class>Aion_Nila_Model</class>
                <resourceModel>aion_nila_resource</resourceModel>
            </aion_nila>
            <aion_nila_resource>
                <class>Aion_Nila_Model_Resource</class>
            </aion_nila_resource>
        </models>
        <blocks>
            <aion_nila>
                <class>Aion_Nila_Block</class>
            </aion_nila>
        </blocks>
        <helpers>
            <aion_nila>
                <class>Aion_Nila_Helper</class>
            </aion_nila>
        </helpers>
        <resources>
            <aion_nila_setup>
                <setup>
                    <module>Aion_Nila</module>
                    <class>Aion_Nila_Model_Resource_Setup</class>
                </setup>
            </aion_nila_setup>
        </resources>
    </global>
    <default>
        <nila>
            <view>
                <category_view_all>0</category_view_all>
            </view>
        </nila>
    </default>
</config>
