<?xml version="1.0"?>
<config>
    <modules>
        <Icoders_Nila>
            <version>0.2.8</version>
        </Icoders_Nila>
    </modules>
    <global>
        <models>
            <icoders_luna>
                <class>Icoders_Luna_Model</class>
                <resourceModel>icoders_luna_resource</resourceModel>
            </icoders_luna>
            <icoders_luna_resource>
                <class>Icoders_Luna_Model_Resource</class>
            </icoders_luna_resource>
        </models>
        <blocks>
            <icoders_luna>
                <class>Icoders_Luna_Block</class>
            </icoders_luna>
        </blocks>
        <helpers>
            <icoders_luna>
                <class>Icoders_Luna_Helper</class>
            </icoders_luna>
        </helpers>
        <resources>
            <icoders_luna_setup>
                <setup>
                    <module>Icoders_Nila</module>
                    <class>Icoders_Luna_Model_Resource_Setup</class>
                </setup>
            </icoders_luna_setup>
        </resources>
    </global>
    <default>
        <luna>
            <view>
                <category_view_all>0</category_view_all>
            </view>
        </luna>
    </default>
</config>
